@media screen and (max-width:760px) {

    header{

        flex-direction: column;
    }

    main{

        flex-direction: column;
    }
             
          
    

    h2{

        font-size: 38px;
        text-align: center;
    }

    form{

        margin: 0 auto;
        width: 100%;
    }

    input{

        align-self: center;
    }

    form input:last-child{

        width:50%;
    }

    img{

        width: 200px;
        margin-top: 40px;
        margin-left: 30%;
    }

    ul{

        text-align: center;
    }
}

 @media screen and (max-width:1208px) {

    span{

        font-size: 30px;
    }
 }

 @media screen and (max-width:1071px) {

    h2{

        font-size: 40px;
    }
     
 }

 @media screen and (max-width:965px) {

    span{

        line-height:1;
    }
    h2{

        font-size:30px;
    }

     
 }

    


